<!-- Header Logo, Title, Short Description -->
<div class="flex justify-between p-1 border-gray-500 border-b-2">
    <div class="flex space-x-6">
        <div class="text-center text-3xl hover:cursor-pointer" hx-get="/experiment" hx-trigger="load, click" hx-target="#playground">Playground
        </div>
        <div class="text-center text-3xl hover:cursor-pointer" hx-get="/compare" hx-trigger="click" hx-target="#playground">Compare</div>
    </div>
    <div class="shrink-0">
        <a href="https://github.com/xaviruvpadhiyar98/openplayground" target="_blank">
            <img class="h-10 w-10 object-cover rounded-full" src="https://avatars.githubusercontent.com/u/22612439?v=4"
                alt="Profile Photo">
        </a>
    </div>
</div>